* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: #000;
}

html, body {
  overflow: auto;
  width: 100%;
  height: 100vh;
  font-size: 62.5%;
  font-family: "Pretendard", "sans-serif";
}

@font-face {
  font-family: "Pretendard";
  src: url(../../assets/font/Pretendard-Medium.subset.woff2) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url(../../assets/font/Pretendard-Bold.subset.woff2) format("woff");
  font-weight: 700;
}
.inner {
  max-width: 1500px;
  margin: auto;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  height: 74px;
  background-color: #fff;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav h1 {
  flex-grow: 3;
}
header nav .depth1 {
  display: flex;
  align-items: center;
  flex-grow: 2;
  height: 74px;
}
header nav .depth1 > li {
  position: relative;
}
header nav .depth1 > li > a {
  display: flex;
  align-items: center;
  height: 74px;
  padding: 22px 20px;
  font-size: 1.6rem;
}
header nav .depth1 > li .arrow::after {
  content: "";
  width: 14px;
  height: 14px;
  margin-left: 5px;
  background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.1,9.4L1.3,4.7l1.4-1.4L6,6.6l3.2-3.3l1.4,1.4L6.1,9.4z' fill='gray'%3E%3C/path%3E%3C/svg%3E") no-repeat right center;
  transition: transform 0.3s ease;
}
header nav .depth1 > li .depth2 {
  display: none;
  flex-wrap: wrap;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 200px;
  margin: -1px 0 0 -100px;
  padding: 25px 0 23px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  z-index: 1000;
}
header nav .depth1 > li .depth2 > li > a {
  display: flex;
  align-items: center;
  width: 158px;
  height: 40px;
  margin-left: 20px;
  padding: 5px 14px;
  font-size: 1.6rem;
  color: #666;
}
header nav .depth1 > li .depth2 > li > a:hover {
  color: #111;
  background-color: #f4f4f4;
}
header nav .depth1 > li:hover > a {
  color: #1e90ff;
}
header nav .depth1 > li:hover .arrow::after {
  transform: rotate(-180deg);
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.1,9.4L1.3,4.7l1.4-1.4L6,6.6l3.2-3.3l1.4,1.4L6.1,9.4z' fill='%231e90ff'%3E%3C/path%3E%3C/svg%3E");
}
header nav .depth1 > li:hover .depth2 {
  display: flex;
}
header nav .depth1 > li .first_depth2 {
  display: none;
  flex-wrap: wrap;
  width: 380px;
  padding: 25px 0 23px;
  background-color: #fff;
}
header nav .depth1 > li .first_depth2 > li {
  width: 186px;
  padding: 0 14px 15px;
}
header nav .depth1 > li .first_depth2 > li > a {
  display: block;
  padding-left: 14px;
  font-size: 1.4rem;
  color: #aaa;
  pointer-events: none;
}
header nav .depth1 > li .first_depth2 > li .depth3 {
  padding-top: 5px;
}
header nav .depth1 > li .first_depth2 > li .depth3 a {
  display: flex;
  align-items: center;
  width: 158px;
  height: 40px;
  padding: 5px 14px;
  margin: auto;
  font-size: 1.6rem;
  color: #666;
}
header nav .depth1 > li .first_depth2 > li .depth3 a:hover {
  color: #111;
  background-color: #f4f4f4;
}
header nav .depth1 > li .first_depth2::after {
  content: "";
  display: block;
  position: absolute;
  top: 23px;
  left: 50%;
  width: 1px;
  height: calc(100% - 46px);
  background-color: #eee;
}
header nav .right_btn {
  display: flex;
  align-items: center;
}
header nav .right_btn .login_btn {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 6px 26px 6px 14px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #8e8e8e;
  background: #fff url("data:image/svg+xml,%3Csvg width='12px' height='12px' viewBox='0 0 12 12' fill='gray' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11,8H9V3H4V1h7V8z'%3E%3C/path%3E%3Cpath d='M2.7,10.7L1.3,9.3l8-8l1.4,1.4L2.7,10.7z'%3E%3C/path%3E%3C/svg%3E") no-repeat right 12px bottom 13px/12px;
}
header nav .right_btn .login_btn:hover {
  background-color: #f4f4f4;
}
header nav .right_btn .contact_btn {
  display: flex;
  align-items: center;
  height: 40px;
  margin-left: 12px;
  padding: 6px 14px;
  font-size: 1.4rem;
  color: #f8f8f8;
  background-color: #1e90ff;
  border: 2px solid #1e90ff;
  border-radius: 4px;
  transition: all 0.3s ease;
}
header nav .right_btn .contact_btn:hover {
  color: #fff;
  background-color: #0f7fed;
  border-color: #0f7fed;
}

main {
  padding-top: 74px;
}
main .main_video {
  max-height: 1090px;
}
main .main_video .video_inner {
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}
main .main_video .video_inner video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
main .main_video .video_inner::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  opacity: 0.15;
}
main .main_video .video_inner .text {
  position: absolute;
  top: 46%;
  left: 0;
  right: 0;
  margin: 0 10%;
  transform: translate(0, -50%);
  z-index: 1;
}
main .main_video .video_inner .text h2 {
  font-size: 5.8rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.02em;
}
main .main_video .video_inner .text span {
  display: block;
  margin-top: 32px;
  font-size: 2.6rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.02em;
}
main .e-commerce_logo {
  max-width: 1500px;
  margin-top: 200px;
}
main .e-commerce_logo h2 {
  font-size: 4.8rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.02em;
}
main .e-commerce_logo ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 40px 33px;
  margin-top: 80px;
}
main .e-commerce_logo ul li img {
  max-width: 186px;
  max-height: 80px;
}
main .main_content {
  margin-top: 200px;
}
main .main_content h2 {
  font-size: 4.8rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.02em;
}
main .main_content > ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin-top: 80px;
}
main .main_content > ul > li {
  width: 414px;
  height: 340px;
  padding: 40px 33px 53px;
  background: no-repeat center top 40px/60px;
  text-align: center;
}
main .main_content > ul > li strong {
  display: block;
  margin-top: 90px;
  font-size: 2.6rem;
  letter-spacing: -0.02em;
}
main .main_content > ul > li p {
  margin-top: 6px;
  font-size: 1.6rem;
  color: #666;
  line-height: 30px;
  letter-spacing: -0.01em;
}
main .main_content > ul > li a {
  display: inline-block;
  margin-top: 19px;
  padding: 5px 15px 5px 0;
  font-size: 1.6rem;
  font-weight: 700;
  color: #aaa;
  background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.7,10.7L3.3,9.3L6.6,6L3.3,2.7l1.4-1.4l4.7,4.7L4.7,10.7z' fill='%23aaa'%3E%3C/path%3E%3C/svg%3E") no-repeat right center/12px;
  transition: all 0.3s ease;
}
main .main_content > ul > li a:hover {
  color: #1e90ff;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.7,10.7L3.3,9.3L6.6,6L3.3,2.7l1.4-1.4l4.7,4.7L4.7,10.7z' fill='%231e90ff'%3E%3C/path%3E%3C/svg%3E");
}
main .main_content > ul .content_item1 {
  background-image: url(../../assets/img/main-service-targeting.gif);
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
main .main_content > ul .content_item2 {
  background-image: url(../../assets/img/main-service-ai.gif);
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
main .main_content > ul .content_item3 {
  background-image: url(../../assets/img/main-service-onsite.gif);
  border-bottom: 1px solid #eee;
}
main .main_content > ul .content_item4 {
  background-image: url(../../assets/img/main-service-offsite.gif);
  border-right: 1px solid #eee;
}
main .main_content > ul .content_item5 {
  background-image: url(../../assets/img/main-service-analysis.gif);
  border-right: 1px solid #eee;
}
main .main_content > ul .content_item6 {
  background-image: url(../../assets/img/main-service-data.gif);
}
main .main_banner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 380px;
  margin-top: 200px;
  padding: 118px 0;
  background: url(../../assets/img/groobee_00_banner.jpg) no-repeat center bottom -170px/cover;
}
main .main_banner h3 {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 3.6rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.02em;
}
main .main_banner a {
  display: flex;
  align-items: center;
  width: 219px;
  height: 60px;
  margin-top: 32px;
  padding: 0 50px;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.7,10.7L3.3,9.3L6.6,6L3.3,2.7l1.4-1.4l4.7,4.7L4.7,10.7z' fill='%23fff'%3E%3C/path%3E%3C/svg%3E") no-repeat center right 50px/12px;
  transition: all 0.3s ease;
  letter-spacing: -0.01em;
}
main .main_banner a:hover {
  color: #1e90ff;
  background: #fff url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.7,10.7L3.3,9.3L6.6,6L3.3,2.7l1.4-1.4l4.7,4.7L4.7,10.7z' fill='%231e90ff'%3E%3C/path%3E%3C/svg%3E") no-repeat center right 50px/12px;
}
main .main_news {
  margin-top: 200px;
}
main .main_news h2 {
  font-size: 4.8rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.02em;
}
main .main_news .underbox {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
main .main_news .underbox > a {
  display: block;
}
main .main_news .underbox > a img {
  display: block;
  border-radius: 6px;
  margin-bottom: 32px;
  overflow: hidden;
}
main .main_news .underbox > a strong {
  font-size: 2.6rem;
  font-weight: 700;
  color: #111;
  transition: all 0.3s ease;
  letter-spacing: -0.02em;
}
main .main_news .underbox > a p {
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: 400;
  color: #666;
  letter-spacing: -0.01em;
}
main .main_news .underbox > a span {
  display: block;
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #aaa;
  letter-spacing: -0.01em;
}
main .main_news ul {
  width: calc(50% - 34px);
}
main .main_news ul li {
  border-bottom: 1px solid #ddd;
}
main .main_news ul li:first-child a {
  padding-top: 0;
}
main .main_news ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 32px 76px 32px 0;
}
main .main_news ul li a strong {
  height: 32px;
  font-size: 2rem;
  font-weight: 700;
  color: #111;
  transition: all 0.3s;
  letter-spacing: -0.01em;
}
main .main_news ul li a span {
  display: block;
  height: 24px;
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #aaa;
  letter-spacing: -0.01em;
}
main .main_news a:hover strong {
  border-bottom: 1px solid #111;
}
main .footer_banner {
  position: relative;
  left: 0;
  height: 35.5%;
  width: 100%;
  margin-top: 261px;
  background-color: #111;
}
main .footer_banner video {
  object-fit: cover;
}
main .footer_banner::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  opacity: 0.15;
}
main .footer_banner .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100;
}
main .footer_banner .text h3 {
  font-size: 3.6rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.02em;
}
main .footer_banner .text a {
  display: flex;
  align-items: center;
  width: 219px;
  height: 60px;
  margin: 32px 0 0 30%;
  padding: 0 50px;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.7,10.7L3.3,9.3L6.6,6L3.3,2.7l1.4-1.4l4.7,4.7L4.7,10.7z' fill='%23fff'%3E%3C/path%3E%3C/svg%3E") no-repeat center right 50px/12px;
  transition: all 0.3s ease;
  letter-spacing: -0.01em;
}
main .footer_banner .text a:hover {
  color: #1e90ff;
  background: #fff url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.7,10.7L3.3,9.3L6.6,6L3.3,2.7l1.4-1.4l4.7,4.7L4.7,10.7z' fill='%231e90ff'%3E%3C/path%3E%3C/svg%3E") no-repeat center right 50px/12px;
}

footer {
  width: 100%;
  padding: 90px 0;
  margin: auto;
  background-color: #111;
}
footer .footer_logo {
  display: block;
  width: 180px;
}
footer .topbox {
  margin-top: 53px;
}
footer .topbox .footer_dropdown_menu {
  display: flex;
  margin: 0 -8px;
}
footer .topbox .footer_dropdown_menu > li {
  position: relative;
  margin: 0 8px;
}
footer .topbox .footer_dropdown_menu > li > a {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.01em;
}
footer .topbox .footer_dropdown_menu > li > a:hover {
  color: #c5c5c5;
}
footer .topbox .footer_dropdown_menu > li .depth2 {
  display: none;
  position: absolute;
  top: calc(100% + 8px);
  left: 50%;
  padding: 14px 0;
  background-color: #333;
  border-radius: 4px;
  transform: translateX(-50%);
  z-index: 1;
}
footer .topbox .footer_dropdown_menu > li .depth2 li {
  display: block;
}
footer .topbox .footer_dropdown_menu > li .depth2 li:first-child a {
  background-position: center right 20px;
}
footer .topbox .footer_dropdown_menu > li .depth2 li a {
  display: flex;
  align-items: center;
  width: 104px;
  padding: 6px 20px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #c5c5c5;
  background: url("data:image/svg+xml,%3Csvg width='12px' height='12px' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg' class=''%3E%3Cpath d='M11,8H9V3H4V1h7V8z' fill='%23c5c5c5' %3E%3C/path%3E%3Cpath d='M2.7,10.7L1.3,9.3l8-8l1.4,1.4L2.7,10.7z' fill='%23c5c5c5' %3E%3C/path%3E%3C/svg%3E") no-repeat 50%/12px;
  letter-spacing: -0.01em;
}
footer .topbox .footer_dropdown_menu > li .depth2 li a:hover {
  color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='12px' height='12px' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg' class=''%3E%3Cpath d='M11,8H9V3H4V1h7V8z' fill='%23c5c5c5' %3E%3C/path%3E%3Cpath d='M2.7,10.7L1.3,9.3l8-8l1.4,1.4L2.7,10.7z' fill='%23fff' %3E%3C/path%3E%3C/svg%3E");
}
footer .topbox .footer_dropdown_menu > li .active {
  display: block;
}
footer .topbox .footer_dropdown_menu > li .arrow {
  padding-right: 16px;
  background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.1,9.4L1.3,4.7l1.4-1.4L6,6.6l3.2-3.3l1.4,1.4L6.1,9.4z' fill='%23fff'%3E%3C/path%3E%3C/svg%3E") no-repeat center right/12px;
}
footer .topbox .footer_dropdown_menu > li .arrow:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.1,9.4L1.3,4.7l1.4-1.4L6,6.6l3.2-3.3l1.4,1.4L6.1,9.4z' fill='%23c5c5c5'%3E%3C/path%3E%3C/svg%3E");
}
footer .topbox .footer_dropdown_menu > li .underline {
  padding-bottom: 2px;
  border-bottom: 1px solid #fff;
}
footer .underbox {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}
footer .underbox address {
  font-style: normal;
}
footer .underbox address ul {
  display: flex;
  flex-wrap: wrap;
  width: 530px;
  margin-left: -6.5px;
}
footer .underbox address ul li {
  position: relative;
  margin-bottom: 8px;
  padding: 0 6.5px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #aaa;
}
footer .underbox address ul li a {
  font-size: 1.4rem;
  font-weight: 400;
  color: #aaa;
}
footer .underbox address ul li a:hover {
  color: #fff;
}
footer .underbox address ul .right_line::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  right: -1px;
  width: 1px;
  height: 12px;
  background: #fff;
  opacity: 0.15;
}
footer .underbox .footer_sns {
  display: flex;
  align-items: center;
}
footer .underbox .footer_sns li {
  margin: 0 8px;
}
footer .underbox .footer_sns li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  transition: all 0.3s ease;
}
footer .underbox .footer_sns li a:hover {
  background-color: #fff;
}
footer .underbox .footer_sns li a:hover svg {
  filter: invert(51%) sepia(29%) saturate(5950%) hue-rotate(191deg) brightness(98%) contrast(109%);
}
footer .copyright {
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: -0.01em;
  opacity: 0.2;
}

@media only screen and (max-width: 1680px) {
  .inner {
    margin: 0 90px;
  }
}
@media only screen and (max-width: 1480px) {
  .inner {
    margin: 0 50px;
  }
  main .video_inner .text {
    margin: 0 100px;
  }
  main .video_inner .text h2 {
    font-size: 5.4rem;
  }
  main .video_inner .text span {
    margin-top: 30px;
    font-size: 2.6rem;
  }
  main .inner {
    max-width: inherit;
    margin: 0 100px;
  }
  main .inner > div {
    margin-top: 180px;
  }
}