@font-face {
  font-family: "Pretendard";
  src: url(../../assets/font/Pretendard-Medium.subset.woff2) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url(../../assets/font/Pretendard-Bold.subset.woff2) format("woff");
  font-weight: 700;
}